<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GNEWS_API_KEY</key>
	<string>PASTE_YOUR_GNEWS_KEY_HERE</string>
	<key>GEMINI_API_KEY</key>
	<string>PASTE_YOUR_GEMINI_KEY_HERE</string>
	<key>GROQ_API_KEY</key>
	<string>PASTE_YOUR_GROQ_KEY_HERE</string>
	<key>ADMIN_EMAIL</key>
	<string>admin@example.com</string>
	<key>ADMIN_DEFAULT_PASSWORD</key>
	<string>SECURE_PASSWORD_HERE</string>
	<key>AUTH_SALT</key>
	<string>RANDOM_SALT_STRING</string>
</dict>
</plist>
